

<!DOCTYPE html>
<html lang="en">
<head>

    <title>HTML5, CSS3, and JavaScript Development
        Training Course</title>


</head>
<body>



<div id="wrapper">
    <!-- start header -->
    <header>
        <div >
            <div >

                <div >
                    <ul >
                        <li >Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/training">Training
                            Courses</a></li>
                        <li><a href="/altova">Altova</a></li>
                        <li><a href="/portfolio">Clients</a></li>
                        <li><a href="/contact">Contact</a></li>


                    </ul>
                </div>
            </div>
        </div>



        <section id="inner-headline">
            <div >
                <div >
                    <div >
                        <ul >


                            <li><a href="/training/">training</a></li>





                            <li><a href="/training/JavaScript/">JavaScript</a></li>





                            <li><a href="/training/JavaScript/HTML5,-CSS3,-and-JavaScript-Development/">HTML5,-CSS3,-and-JavaScript-Development</a></li>




                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </header>
    <!-- end header -->






    <section id="content">
        <div >
            <div >

                <!-- <div > -->
                <!--  <aside >-->

                <div >
                    <h5 >Available Courses</h5>
                    <ul >

                        <li>
                            <a href="/training/IBM-Rational">IBM Rational</a>
                        </li>

                        <li>
                            <a href="/training/Agile">Agile</a>
                        </li>

                        <li>
                            <a href="/training/NET">NET</a>
                        </li>

                        <li>
                            <a href="/training/C-and-CPP">C++</a>
                        </li>

                        <li>
                            <a href="/training/Java-EE">Java EE</a>
                        </li>

                        <li>
                            <a href="/training/Altova">Altova</a>
                        </li>

                        <li>
                            <a href="/training/Growth-Hacking">Growth Hacking</a>
                        </li>

                        <li>
                            <a href="/training/Java">Java</a>
                        </li>

                        <li>
                            <a href="/training/Linux">Linux</a>
                        </li>

                        <li>
                            <a href="/training/Analysis-and-Design">Analysis and Design</a>
                        </li>

                        <li>
                            <a href="/training/Web">Web</a>
                        </li>

                        <li>
                            <a href="/training/SOA-and-Web-Services">SOA and Web Services</a>
                        </li>

                        <li>
                            <a href="/training/Mobile">Mobile</a>
                        </li>

                        <li>
                            <a href="/training/XML">XML</a>
                        </li>

                        <li>
                            <a href="/training/Python">Python</a>
                        </li>

                        <li>
                            <a href="/training/Leadership">Leadership</a>
                        </li>

                        <li>
                            <b><a href="/training/JavaScript">JavaScript</a></b>
                        </li>

                    </ul>
                </div>
                <!-- </aside> -->
                <!-- </div> -->





                <h1>HTML5, CSS3, and JavaScript Development</h1><p>HTML5 and CSS3 are essential ingredients in modern-day web applications. Gone are the days of vendor-specific plugins and browser wars, and in their place we have the promise of truly open and powerful industry standards.  </p><h2>Training Course Duration</h2><p>5
                days
            </p><h2>Layout</h2><p>This course is a mixture of lectures and hands on exercises designed to reinforce the topics learnt</p><h2>Who it is for</h2><p></p><h2>Training Course Prerequisites</h2><ul>
                <li>Familiarity with HTML and CSS</li>
                <li>Experience with JavaScript or other similar language</li>
            </ul><h2>Training Course Objectives</h2><p>At the end of this training course, students should be able to:</p><ul>
                <li>Using HTML5 GUI elements</li>
                <li>Implementing client-side behaviour using HTML5 APIs </li>
                <li>Using CSS3 style features</li>
                <li>Writing JavaScript code effectively</li>
            </ul><h2>Training Course Contents</h2><table >
                <tr>
                    <td valign="top">
                        <p >1
                            .
                            HTML and CSS Core Principles</p>
                        <ul>
                            <li>HTML core concepts and syntax</li>
                            <li>CSS core concepts and syntax</li>
                        </ul>
                        <p >2
                            .
                            Creating HTML5 and CSS3 Web Pages</p>
                        <ul>
                            <li>HTML5 semantic tags</li>
                            <li>Additional HTML5 layout features</li>
                            <li>CSS3 enhancements</li>
                        </ul>
                        <p >3
                            .
                            JavaScript Core Principles</p>
                        <ul>
                            <li>JavaScript essential syntax</li>
                            <li>Accessing and updating HTML content by using DOM</li>
                            <li>Getting started with jQuery</li>
                            <li>Event handling</li>
                        </ul>
                        <p >4
                            .
                            Using Forms</p>
                        <ul>
                            <li>Defining a form to gather user input</li>
                            <li>Using the new HTML5 input elements</li>
                            <li>Validating input</li>
                            <li>Implementing JavaScript validation</li>
                        </ul>
                        <p >5
                            .
                            Implementing Ajax-Enabled Web Pages</p>
                        <ul>
                            <li>Overview of Ajax</li>
                            <li>Using Ajax manually</li>
                            <li>Using Ajax with jQuery</li>
                            <li>Using Ajax2 and Cross-Origin Requests (CORS)</li>
                        </ul>
                        <p >6
                            .
                            Going Further with CSS3</p>
                        <ul>
                            <li>Textual styling</li>
                            <li>Using CSS3 selectors</li>
                            <li>Additional CSS3 techniques</li>
                        </ul>
                        <p >7
                            .
                            Object-Oriented Programming in JavaScript</p>
                        <ul>
                            <li>Creating objects</li>
                            <li>Defining properties and methods</li>
                            <li>Defining constructors</li>
                            <li>Understanding prototypes</li>
                            <li>Implementing inheritance</li>
                        </ul>
                    </td><td valign="top">
                    <p >8
                        .
                        Platform Integration</p>
                    <ul>
                        <li>Using the File API</li>
                        <li>Implementing drag-and-drop</li>
                        <li>Incorporating audio and video</li>
                        <li>Using the Geolocation API</li>
                    </ul>
                    <p >9
                        .
                        Offline Working</p>
                    <ul>
                        <li>Using local storage</li>
                        <li>Offline working</li>
                        <li>Using the application cache</li>
                    </ul>
                    <p >10
                        .
                        Creating Adaptive User Interfaces</p>
                    <ul>
                        <li>Media queries</li>
                        <li>Creating applications that look good in different form factors</li>
                        <li>Creating printer-friendly applications</li>
                    </ul>
                    <p >11
                        .
                        Graphics</p>
                    <ul>
                        <li>Using the canvas API</li>
                        <li>Using SVG</li>
                        <li>Techniques and recommendations</li>
                    </ul>
                    <p >12
                        .
                        CSS3 Animations and Effects</p>
                    <ul>
                        <li>Transitions</li>
                        <li>2D and 3D transformations</li>
                        <li>Key-frame animations</li>
                    </ul>
                    <p >13
                        .
                        Web Sockets</p>
                    <ul>
                        <li>The need for Web Sockets</li>
                        <li>Implementing a Web Sockets client</li>
                        <li>Implementing a Web Sockets server</li>
                    </ul>
                    <p >14
                        .
                        Web Workers</p>
                    <ul>
                        <li>Overview of Web Workers</li>
                        <li>Implementing a Web Worker</li>
                        <li>Asynchronous programming techniques</li>
                    </ul>
                </td>
                </tr>
            </table>



            </div>
        </div>
    </section>


    <footer>
        <div >
            <div >
                <div >
                    <div >
                        <h5 >Get in touch with us</h5>
                        <address>
                            <strong>Conygre Consultants</strong><br> 37, Watch Elm
                            Close<br> Bristol<br> BS32 8AL
                        </address>
                        <p>
                            <i ></i> 0117 230 2962<br> <i
                                ></i> enquiries@conygre.com
                        </p>
                    </div>
                </div>

                <div >
                    <div >
                        <h5 >Training Courses</h5>
                        <ul >

                            <li><a
                                    href="/training/Agile">Agile
                                Training</a></li>

                            <li><a
                                    href="/training/NET">NET
                                Training</a></li>

                            <li><a
                                    href="/training/C-and-CPP">C++
                                Training</a></li>

                            <li><a
                                    href="/training/Java-EE">Java EE
                                Training</a></li>

                            <li><a
                                    href="/training/Altova">Altova
                                Training</a></li>

                        </ul>
                    </div>
                </div>
                <div >
                    <div >
                        <h5 >&nbsp;</h5>
                        <ul >

                            <li><a
                                    href="/training/Growth-Hacking">Growth Hacking
                                Training</a></li>

                            <li><a
                                    href="/training/Java">Java
                                Training</a></li>

                            <li><a
                                    href="/training/Linux">Linux
                                Training</a></li>

                            <li><a
                                    href="/training/Analysis-and-Design">Analysis and Design
                                Training</a></li>

                        </ul>
                    </div>
                </div>
                <div >
                    <div >
                        <h5 >&nbsp;</h5>
                        <ul >

                            <li><a
                                    href="/training/Web">Web
                                Training</a></li>

                            <li><a
                                    href="/training/SOA-and-Web-Services">SOA and Web Services
                                Training</a></li>

                            <li><a
                                    href="/training/Mobile">Mobile
                                Training</a></li>

                            <li><a
                                    href="/training/XML">XML
                                Training</a></li>

                            <li><a
                                    href="/training/Python">Python
                                Training</a></li>

                            <li><a
                                    href="/training/Leadership">Leadership
                                Training</a></li>

                            <li><a
                                    href="/training/JavaScript">JavaScript
                                Training</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div >
                <div >
                    <div >
                        <div >
                            <p>
										<span>&copy; Conygre Consultants 2016 All right
											reserved</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>
<a href="#" ></i></a>

</body>
</html>