html{
    font-family: sans-serif;
}
body{
    width: 1200px;
    margin: 0 auto;
    transition: transform 1s;
}
.main-header{
    display:flex;
    margin-top: 20px;
    background-color: bisque;
    border: 2px solid #000;
    border-radius: 30px 0 30px 0;
    padding:40px;
    align-items: center;
    background-image:url('bg.jpg');
    background-size: contain;

    background: rgb(220,0,255);
background: linear-gradient(0deg, rgba(220,0,255,1) 0%, rgba(0,0,0,1) 100%);

}
.main-header img{
    width: 15%;
    height: 15%;
    border-radius: 100px;
    transition: transform 1s;
}
.main-header img:hover{
    transform: rotate(1800deg);
}
h1{
    color: rgb(230, 176, 0);
    margin-left: 50px;
    font-size: 60px;
    text-shadow: 5px 5px 0px rgb(255, 0, 200);
}
h1:hover{
    text-shadow:none;
    cursor: pointer;          

}
span{
    color: orange;
    width:200px;
    height:200px;
    border:1px solid black;
}
article{
    padding-left: 20px;
    width:200px;
    padding-bottom: 10px;
    border-left: 5px solid #FC0;
    border-bottom: 1px solid rgb(111, 255, 145);
    margin:15px;
}
.articles{
    width: 1200px;
    height: 1200px;
    display:flex;
    flex-wrap:wrap;
    background-color: lightgray;
    justify-content: space-around;
 
}